.section{
    margin: 50px auto;
    width: 60%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container{
    padding: 20px;
}

.row{
    margin: 10px;
    display: flex;
    align-items: center;
}

.row h1{
    text-align: center;
    color: orangered;
    font-size: 2.5em;
}

.row h3{
    text-align: center;
    color: orange;
    font-size: 1.5em;
}

.password{
    padding: 20px;
    background-color: hwb(0 98% 2%);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.box{
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.box span{
    font-size: 1.2em;
    color: orange;
}

.box i{
    cursor: pointer;
    color: rgb(255, 127, 80);
    transition: color 0.3s ease;
}

.box i:hover{
    color: rgb(255, 69, 0);
}

.block{
    margin: 20px 0;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label{
    font-weight: bold;
    color: orangered;
    margin-left: 10px;
}

#length{
    padding: 10px;
    border-radius:10px ;
    border: none;
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="number"], input[type="checkbox"]{
    margin-right: 10px;
    color: rgb(255, 127, 80);
}

.butt{
    display: block;
    width: 100%;
    padding: 15px;
    background-color: rgb(255, 127, 80);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.butt:hover{
    background-color: rgb(255, 69, 0);
}
